@import "../../styles/mixins.scss";
@import "../../styles/colors.scss";

.button {
  color: white !important;
  background-color: transparent !important;
  @include focused();
  box-shadow: none !important;
  border: none !important;
  font-size: 20px !important;
  transition: .3s !important;
  &:hover{
    color: $primary;
  }
}
