@import "../../styles/mixins.scss";

.wrapper {
  width: 1000px;
  padding: 30px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .backButton {
    align-self: flex-start;
    margin-bottom: 20px;
  }
  .loading{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .listWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    .list {
      margin-top: 20px;
      flex-grow: 1;
      width: 600px;
      max-width: 100%;
      padding: 10px;
      max-height: 70vh;
      overflow-y: auto;
      .button {
        grid-column-gap: 10px;
        margin-bottom: 10px;
        background-color: white;
        color: $text;
        text-decoration: none;
        border-radius: 5px;
        padding: 10px;
        text-overflow: ellipsis;
        display: grid;
        box-sizing: content-box;
        grid-template-columns: 50px auto;
        grid-template-rows: 30px 20px;
        grid-template-areas:
          "a n"
          "a d";
        @include cursor-active();
        @include button();
        .ava {
          grid-area: a;
          width: 50px;
          height: 50px;
          padding: 5px;
          border-radius: 50%;
          overflow: hidden;
          aspect-ratio: 1/1;
          img {
            object-fit: cover;
            max-height: 100%;
            width: 100%;
            filter: drop-shadow(0 0 20px $primary-l);
          }
        }
        .name {
          grid-area: n;
          margin: 0;
          height: 30px;
          line-height: 30px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          text-align: end;
        }
        .desc {
          grid-area: d;
          margin: 0;
          height: 20px;
          line-height: 20px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          text-align: end;
        }
      }
    }
    .pagination {
      & > ul > li > button {
        @include button();
        background-color: gainsboro;
        &:global(.ub-bg-clr_EBF0FF) {
          background-color: $primary;
        }
        @media (max-width: 700px) {
          padding: 1px 3px;
          min-width: 15px;
        }
      }
    }
  }
}
